<h1>Welcome to blah blah blah</h1>

<h2> Rentals </h2>
<ul>
  {{#each model.rentals as |rental|}}
    {{rental-tile rental=rental}}
  {{/each}}
</ul>

<hr>

<h2> Cities </h2>
<ul>
  {{#each model.cities as |city|}}
    <li>{{#link-to 'city' city}} {{city.name}} {{/link-to}}</li>
  {{/each}}
</ul>

{{new-city saveCity="saveCity"}}
